p {
  margin: 0;
}

.contactWrapper {
  margin-right: 30px;
}

.contactItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px;
  max-width: 350px;
  font-size: 20px;
}

.contactDetails {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contactIcon {
  margin-right: 20px;
}

.contactBtn {
}
